.chat__main__first-content
  .chat__main__first-content__list
    %p.chat__main__first-content__list__group
      = message.body
    %p.chat__main__first-content__list__time
      = message.created_at
  %p.chat__main__first-content__message
    = message.body
