/ インデックスのviewファイル
.container
	= render "shared/sidebar"
	.chat
		.header
			kakikukeko
			.header__left
				aaaa
				.groupname
				.member
			.heder__right
		.main
			.main__contents

/ 部分テンプレート（サイドバー）の導入
/ = render "shared/sidebar" 