/ インデックスのviewファイル
.container
	= render "shared/sidebar"
	.chat
		.chat-header
			%p Header GroupName
			%p Header Member
		.chat-main
			.chat-main__content
				%p.main-group Main GroupName
				%p.main-message Main Message
		.chat-comment
/ 部分テンプレート（サイドバー）の導入
/ = render "shared/sidebar"
/ .chat-header__right Editボタン

