/ インデックスのviewファイル
.container
	= render "shared/sidebar"
	.chat
		.chat__header
			%p.chat__header__group Header GroupName
			%p.chat__header__member Header Member
			.chat__header__edit-btn Edit
		.chat__main
			.chat__box
			.chat__main__first-content
				.chat__main__first-content__list
					%p.chat__main__first-content__list__group Main GroupName1
					%p.chat__main__first-content__list__time Time
				%p.chat__main__first-content__message Main Message1
			.chat__main__first-content
				.chat__main__first-content__list
					%p.chat__main__first-content__list__group Main GroupName2
					%p.chat__main__first-content__list__time Time
				%p.chat__main__first-content__message Main Message2
		.chat__comment
			%input{:type => "text"}
				%i.fa.fa-picture-o
			%input{:type => "submit", :value => "send"}