/ サイドバー（部分テンプレート）
.sidebar
	.side-header
		%p Atusko Sato
		%i.fa.fa-cog.fa-lg
		%i.fa.fa-pencil-square-o.fa-lg
	.side-main
		.side-main__content
			%p.side-name GroupName
			%p.side-message The Latest Message

/ リングを設定する事





