/ サイドバー（部分テンプレート）
.side
  .side__header
    %p Atusko Sato
    = link_to edit_user_path(current_user) do
      %i.fa.fa-cog.fa-lg
    = link_to edit_user_path(current_user) do
      %i.fa.fa-pencil-square-o.fa-lg
    .side__main
    .side__main__content
      %p.side__main__content__name GroupName1
      %p.side__main__content__message The Latest Message1
    .side__main__content
      %p.side__main__content__name GroupName2
      %p.side__main__content__message The Latest Message2

/ リンクの貼り方/ link_toメソッドで引数を指定することで様々なリンクを生成
/  <%= link_to 'ツイート一覧へ', '/tweets', class: 'sample' %>
/ link_to 'リンク文字列', リンク先のパス（URL）
/  作成したaタグに`class="sample"`属性を付与
