/ サイドバー（部分テンプレート）
.side
	.side__header
		%p Atusko Sato
		= link_to root_path do
			%i.fa.fa-cog.fa-lg
		= link_to root_path do
			%i.fa.fa-pencil-square-o.fa-lg
	.side__main
		.side__main__content
			%p.side__main__name GroupName1
			%p.side__main__message The Latest Message1
		.side__main__content
			%p.side__main__name GroupName2
			%p.side__main__message The Latest Message2


