/ サイドバー（部分テンプレート）
.side
	.side__header
		%p Atusko Sato
		%i.fa.fa-cog.fa-lg
		%i.fa.fa-pencil-square-o.fa-lg
	.side__main
		.side__main__content
			%p.side__main__name GroupName
			%p.side__main__message The Latest Message

/ リングを設定する事





