/ サイドバー（部分テンプレート）
.sidebar
	.side-header
		%p Atusko Sato
		%i.fa.fa-cog.fa-lg
		%i.fa.fa-pencil-square-o.fa-lg
	.side-main
		.side-main__content
			.side-main__content__groupname
				%p GroupName
			.side-main__content__message
				%p The Latest Message

/ リングはまだ





