// index(チャットスペース)のscss
.chat {
	background-color: #FFEEFF;
	height: 100%;
	width: calc(100% - 300px);
	.chat-header {
		width: calc(100% - 40px);
		height: 75px;
	  background-color: #FFCCFF;
	  padding: 35px 20px 0 20px;
		p {
			background-color: #FFFFFF;
			font-size: 16px;
			font-weight: bold;
			color: #333333;
		}
		p {
		}
	}
	.chat-main {
				p {
				}
				p {
				}
	}
	.chat-comment {
	}
}
































