// index(チャットスペース)のscss
.chat {
	background-color: #FFEEFF;
	height: 100%;
	width: calc(100% - 300px);
	.chat-header {
		height: 101px;
		width: 100%;
	  background-color: #FFCCFF;
	  display: flex;
		&__left {
			&__group {
				p {
				}
			&__member {
				p {
				}
			}
			}
		}
		&__right {
		}
	}
	.chat-main {
		&__content {
			&__group {
				p {
				}
			}
			&__message {
				p {

				}
			}
		}
	}
	.chat-comment {
		&__left {
			&__text {
			}
			&__image {
			}
		}
		&__right {
		}
	}
}






























