// index(チャットスペース)のscss
.chat {
	background-color: #FFEEFF;
	width: calc(100% - 300px);
	// float: right;
	.header{
		font-size: 50px;
		&__left{
			background-color: blue;
			&__groupname{
			}
			&__member{
			}
		}
		&__right{
		}
	}
	.chat-main{
	}
}


