// サイドバー（部分テンプレート）のscss

.sidebar {
	background-color: #DDFFFF;
	height: 100%;
	width: 300px;
	.header {
		height: 101px;
		width: 300px;
	  background-color: #253141;
	  display: flex;
		&__name { 
			width: 150px;//仮置きの値
			height: 101px;
			background-color: #4689FF; //色を変更
			margin-left: 20px;
		}
			p {
				font-size: 16px;
				font-weight: bold;
				color: #FFFFFF;
			}
		&__icon {
			width: 150px;//仮置きの値
			height: 101px;
			background-color: #D9E5FF;//色を変更
			padding: 0 20 0 0px;
			margin-right: 20px;
			&group {
				// アイコン入れる
			}
			&acount {
				// アイコン入れる
			}
		}
		}
	}
	.main {
	}





