// サイドバー（部分テンプレート）のscss

.sidebar {
	background-color: #DDFFFF;
	height: 100%;
	width: 300px;
	.side-header {
		height: 100px; //メインを見て調節
		width: 260px;
	  background-color: #253141;
	  padding: 0 20px;
			p {
				font-size: 16px;
				font-weight: bold;
				color: #FFFFFF;
				line-height: 100px;
				display: inline-block;
			}
			.fa.fa-pencil-square-o.fa-lg {
				color: #FFFFFF;
				float: right;
				line-height: 101px;
				margin: 0 10px 0 0;
			}
			.fa.fa-cog.fa-lg {
				color: #FFFFFF;
				float: right;
				line-height: 101px;
			}
		}
	}
	.side-main {
		background-color: #FFFFDD;
		height: calc(100% - 100px);
		width: 300px;
		&__content {
			height: 65px; //高さあとで調整
			width: 260px;
			padding: 20px;
			background-color: #2f3e51;
			.side-name {
				font-size: 15px;
				color: #FFFFFF;
				}
			.side-message {
				font-size: 11px;
				color: #FFFFFF;
				margin-top: 5px;
			}
		}
	}
